*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

:root{
     --primary-color: #b04e1e;
    --secondary-color: #d4622a;
    --text-dark: #1a1a1a;
    --text-light: #4c4d4f;
    --background:#faeee6;
}

body{
  background: var(--background);
  transition: 0.3s;
   /* height:100vh; 
  display:flex;
  justify-content:center;
  align-items:center*/
}

.search-box{
  display:flex;
  align-items:center;
  background:white;
  padding:10px;
  border-radius:15px;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
  gap:1px;
}

.search-box input{
  width:200px;
  padding:2px 5px;
  border:none;
  outline:none;
  font-size:12px;
  border-radius:5px;
  background:#f8fafc;
  height: 30px;
}

.search-box button{
  padding:12px 20px;
  border:none;
  background:var(--primary-color);
  color:white;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
  height: 30px;
  width: 70px;
}

.search-box button:hover{
  background:var(--secondary-color);
}

.container{
  display: flex;
}

/* Sidebar */
.sidebar{
  width: 250px;
  height: 100vh;
  background: var(--secondary-color);
  color: white;
  padding: 20px;
  position: fixed;
}

.sidebar h2{
  margin-bottom: 30px;
}

.sidebar ul{
  list-style: none;
}

.sidebar ul li{
  padding: 15px;
  margin-bottom: 10px;
  background: var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li:hover{
  /* background:var(--background); */
  color: yellow
}

/* Main Section */
.main{
  flex: 1;
  padding: 20px;
  margin-left: 250px;
  width: 100%;

}

/* Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.navbar button{
  padding: 10px 20px;
  border: none;
  background: var(--primary-color);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.navbar button:hover{
  background: var(--secondary-color);
}

/* .nav-right button:hover{
  background-color: var(--secondary-color);
} */

/* #darkBtn{
  padding:10px 18px;
  border:none;
  background: var(--primary-color);
  color:white;
  border-radius:8px;
  cursor:pointer;
} */

/* Cards */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:10px;
  margin-bottom:20px;
}

.card{
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h3{
  margin-bottom: 20px;
}

/* Table */
.table-section{
  background:white;
  padding:20px;
  border-radius:15px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

table th,
table td{
  padding:15px;
  text-align:left;
  border-bottom:1px solid #ddd;
}

/* Dark Mode */
.dark{
  background:#0f172a;
  color:white;
}

.dark .card,
.dark .table-section{
  background:#1e293b;
  color:white;
}

.dark table td,
.dark table th{
  border-color:#334155;
}

/* BookingTable Container */
.table-container{
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
  overflow-x:auto;
}

/* Header */
.table-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.table-header h2{
  color:#0f172a;
}

.table-header button{
  padding:12px 20px;
  border:none;
  background: var(--primary-color);
  color:white;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.table-header button:hover{
  background: var(--secondary-color);
}

/* Table */
table{
  width:100%;
  border-collapse:collapse;
}

table th{
  background:#f8fafc;
  color:#475569;
  padding:15px;
  text-align:left;
}

table td{
  padding:15px;
  border-bottom:1px solid #e2e8f0;
}

table tr:hover{
  background:#f8fafc;
}

/* Status */
.active{
  background:#dcfce7;
  color:#15803d;
  padding:6px 12px;
  border-radius:20px;
  font-size:14px;
}

.pending{
  background:#fef3c7;
  color:#b45309;
  padding:6px 12px;
  border-radius:20px;
  font-size:14px;
}

.returned{
  background:#dbeafe;
  color:#1d4ed8;
  padding:6px 12px;
  border-radius:20px;
  font-size:14px;
}

/* Payment */
.paid{
  background:#dcfce7;
  color:#15803d;
  padding:6px 12px;
  border-radius:20px;
  font-size:14px;
}

.unpaid{
  background:#fee2e2;
  color:#dc2626;
  padding:6px 12px;
  border-radius:20px;
  font-size:14px;
}

/* Responsive */
@media(max-width:768px){

  .table-header{
    flex-direction:column;
    gap:15px;
    align-items:flex-start;
  }

}


/* Responsive */
@media(max-width:768px){

  .sidebar{
    width:80px;
  }

  .sidebar .logo{
    font-size:18px;
  }

  .sidebar ul li{
    font-size:12px;
  }

  .main{
    margin-left:80px;
  }

}

